@media (max-width: 1600px) {
    .promo .header .logo .circle {
        margin-left: 200px;
    }
}

@media (max-width: 1500px) {
    .promo .header .menu {
        margin-left: 400px;
    }
}

@media (max-width: 1400px) {
    .promo .header .menu {
        margin-left: 300px;
    }
    .second {
        width: 718px;
    }
    .second .second_wrap {
        display: grid;
        grid-template-columns: 342px 342px;
        grid-template-rows: 72px 72px;
        column-gap: 34px;
        row-gap: 32px;
        width: 718px;
        margin-left: auto;
        margin-right: auto;
    }
    .second .second_wrap .second_item {
        display: grid;
        grid-template-columns: 56px 270px;
        grid-template-rows: auto auto;
        column-gap: 16px;
    }
    .second .second_wrap .second_item img {
        width: 56px;
        height: 56px;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .second .second_wrap .second_item .item_title {
        margin-top: 0;
    }
    .third {
        width: 727px;
        padding-bottom: 56px;
    }
    .third .third_text .third_title {
        font-size: 20px;
        line-height: 120%;
        margin-top: 15px;
    }
    .third .third_text .third_descr {
        width: 374px;
        margin-top: 15px;
    }
    .third img {
        width: 351px;
        height: 265px;
    }
    .feedback .slick-slide {
        width: 351px;
    }
    .feedback .wrap_items {
        width: 726px;
    }
    .sixth {
        display: flex;
    }
    .sixth .sixth_wrap {
        grid-template-columns: 550px 550px;
    }
}

@media (max-width: 1200px) {
    .faq {
        max-width: 727px;
        padding-top: 56px;
        margin-right: auto;
        margin-left: auto;
    }
    .accordion__title-text {
        display: block;
        max-width: 675px;
    }
    .accordion {
        display: block;
    }
    .accordion__item .accordion__content {
        max-width: 648px;
    }
    .sixth .sixth_wrap {
        grid-template-columns: 728px;
    }
}

@media (max-width: 769px) {
    .promo {
        min-height: 1024px;
        background: url('../img/Lunch_atop_a_Skyscraper\ 1\ mob.png') center center/cover no-repeat;
    }
    .promo .bg_filling {
        min-height: 1104px;
    }
    .promo .promo_slogan {
        margin: 233px auto 0;
        width: 476px;
        font-weight: 600;
        font-size: 32px;
        line-height: 125%;
    }
    .promo .header .logo .circle {
        margin-left: 16px;
    }
    .promo .promo_descr {
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        margin-top: 17px;
    }
    .promo .header .menu {
        display: none;
    }
    .promo .header .menumob {
        z-index: 90;
        top: -100%;
        display: block;
    }
    .promo .header .menumob_active {
        transition: 0.5s all;
        top: 0;
    }
    .promo .hamburger {
        display: block;
        position: absolute;
        right: 0px;
        top: 0px;
        /* width: 62px;
        height: 62px; */
        z-index: 100;
    }
    .promo .hamburger .hamburger_wrap {
        position: absolute;
        /* top: 34px; */
        right: 0;
        width: 62px;
        height: 62px;
    }
    .promo .hamburger span {
        display: block;
        height: 2px;
        width: 22px;
        background-color: #FFFFFF;
        margin-bottom: 8px;
        transition: 0.5s all;
        margin-left: auto;
        margin-right: 17px;
    }
    .promo .hamburger span:first-child {
        margin-top: 34px;
    }
    .promo .hamburger .hamburger_active span {
        margin-bottom: -2px;
        background-color: #191C1F;
    }
    .promo .hamburger .hamburger_active span:nth-child(1) {
        transform: rotate(-45deg);
    }
    .promo .hamburger .hamburger_active span:nth-child(2) {
        transform: rotate(45deg);
    }
    .feedback .slick-arrow {
        display: none;
    }
    .sixth {
        padding-top: 20px;
        padding-bottom: 32px;
        padding: 20px 20px 32px 20px;
    }
    .sixth .sixth_wrap {
        margin-right: 0;
        margin-left: 0;
        row-gap: 20px;
        max-width: 728px;
    }
    .sixth .sixth_wrap .sixth_text p {
        margin-top: 46px;
        padding-right: 20px;
    }
    .form {
        padding-top: 56px;
        min-height: 358px;
    }
    .form .form_submit {
        margin-top: 32px;
        grid-template-columns: 352px 352px;
        /* grid-template-columns: auto auto; */
        column-gap: 24px;
        row-gap: 30px;
        min-width: 728px;
    }
}

@media (max-width: 376px) {
    .promo {
        min-height: 596px;
        background: url('../img/Lunch_atop_a_Skyscraper\ 1\ mob.png') center center/cover no-repeat;
    }
    .promo .bg_filling {
        min-height: 676px;
    }
    .promo .header .menumob {
        top: -667px;
    }
    .promo .header .menumob_active {
        top: 0;
    }
    .promo .promo_slogan {
        margin-top: 92px;
        font-size: 24px;
        line-height: 133%;
        width: 288px;
    }
    .promo .promo_descr {
        margin-top: 10px;
    }
    .promo .button_promo {
        margin-top: 26px;
    }
    .second {
        width: 342px;
        margin-top: 56px;
        padding-bottom: 56px;
    }
    .second h1 {
        font-size: 24px;
        line-height: 133%;
    }
    .second .second_wrap {
        grid-template-columns: 342px;
        margin-top: 26px;
    }
    .third {
        flex-direction: column-reverse;
        width: 342px;
    }
    .third img {
        width: 342px;
        height: 258px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .third .third_text .third_title {
        text-align: center;
    }
    .third .third_text .third_descr {
        text-align: center;
        width: 342px;
    }
    .feedback {
        padding-top: 27px;
        min-height: 451px;
    }
    .feedback h1 {
        font-size: 24px;
        line-height: 133%;
    }
    .feedback .wrap_items {
        width: 375px;
        margin-top: 26px;
    }
    .feedback .slick-list {
        padding: 0;
    }
    .feedback .wrap_items .slick-list {
        height: 340px;
    }
    .feedback .wrap_items .feedback_item {
        height: 281px;
    }
    .faq h1 {
        font-size: 24px;
        line-height: 133%;
    }
}